* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --highlight: #ff57b2;
  --heading: #f8f8f8;
  --background: #1a1d23;
  --info: #bbbbbb;
  --body: #d7d7d7;
}

*,
a,
button {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--background);
  color: var(--body);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 700;
  color: var(--heading);
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
